.container-cards-render {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: center;
  margin-top: 60px;
  width: 100%;
}

.car-button {
  width: 230px;
  height: 60px;
  position: fixed;
  border: 0;
  border-radius: 50px;
  left: 55%;
  top: 90%;
  background-color: rgb(27, 165, 57);
  font-size: 18px;
  line-height: 42px;
}

.container-page {
  align-items: center;
    display: flex;
    flex-direction: column;
    left: 0%;
    margin: 0%;
    position: absolute;
    width: 720px;
}
